@font-face {
    font-family: treasure;
    src: url('../aaFonts/treasure-map-font/Treasuremap-Ea1vj.ttf');
}

.titleHeader {
    margin: 0;
    color: #fff544;
    font-family: treasure;
    font-size: 36px;
}

.secondaryHeader {
    margin: 0;
    color: #fff544;
    font-family: treasure;
    font-size: 24px;
}
