.harryPage {
    min-height: 90vh;
    max-height: 90vh;
    min-width: 100vw;
    max-width: 100vw;

    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pirates {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.pirateButton {
    background-color: #ffa944;
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}