.scorecardPage {
    min-height: 90vh;
    max-height: 90vh;
    min-width: 100vw;
    max-width: 100vw;

    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pirates {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.pirateButton {
    background-color: #ffa944;
    width: 40%;
}

.pirateButtonDisabled {
    background-color: #ffa944;
    width: 40%;
    opacity: 0.25;
    pointer-events: none;
}
